@import "_constants.scss";

body {
    font-size: $fontsize;
}

.kop {
    color:$brand-color;
}

.bgcolor {
    background-color:$primary-color;
    height:500px;
}

.footer {
    margin-top:45px;
    margin-bottom:45px;
}

.container {
    width: 1800px !important;
}